<nav ng-show='!viewCtrl.view.login' class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navCtrl.isCollapsed = !navCtrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">exBook</a>
    </div>

    <div class="navbar-collapse" ng-class="{collapse:navCtrl.isCollapsed}">
      <ul class="nav navbar-nav navbar-left">
      </ul>
      <div class="btn-group" uib-dropdown>
         <button id="btn-append-to-single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
           Debug Functions <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
             <li><a href="#" ng-click='navCtrl.debug.addUser()'>Add new user</a></li>
             <li><a href="#" ng-click='navCtrl.debug.initializeDatabase()'>Initialize Database</a></li>
         </ul>
       </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">PROFILE</a></li>
        <li><a href="#" ng-click='navCtrl.login.logOut()'>LOGOUT</a></li>
      </ul>

    </div>
  </div>
</nav>
