.mcAnsBtn{
    margin-bottom: 5px;
    height: 50px !important;
    width: 800px !important;
}

.navbar-brand{
    color: #18bc9c !important;
}

#question_text{
    text-align: center;
}

.navbar-nav li a {
 line-height: 50px;
}













