.mcAnsBtn{
    text-align: center;
    margin: auto;
    width:500px;
}

.navbar-brand{
    color: #18bc9c !important;
}

#question_text{
    text-align: center;
}

.navbar-nav li a {
 line-height: 50px;
}

.login_box{
    text-align: center;
    margin: auto;
}

.login_text{
    text-align: center;
}

.login_btn{
    width: 100%;
}

html, body{
  min-height: 100%;
}
body{
  position: relative;
}
.overlay-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  background-color: #008ae6;
}

.overlay-bottom{
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  background-color: #00ace6;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login_page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
