@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.app-body{
  width: 75%;
  margin: auto;
  margin-top:100px;
  padding-bottom: 50px;
  text-align: center;
}

/* login box */

.login-box{
  width: 500px;
  box-shadow: 1px 1px 1px 1px #888888;
  background-color: #3786a3;
  margin:auto;
  margin-top: 75px;
  margin-bottom: 50px;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  color: white
}

.btn-google-plus {
  color: black;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  border: 1px solid grey;
  width:auto;
  margin: auto;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: black;
  cursor: pointer;
  background-color: #c6dbfc;
}

.google-icon {
  background: url('../img/google/btn_google_light_normal_ios.svg') transparent 0 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
.google-buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 18px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
